/******************************
variables
******************************/
$navPlava: #09192c; 
$tamnoPlava: #0b193c;
$pink: #f91257;
$bela: white;
$svetloSiva: #f8f8f8;
$fontColor: #0b193c;
$violet: #383c6e;
$font: 16px;
$padding: 80px 0;
$fontFamily: 'Montserrat', sans-serif;
$transition: .3s ease;
/******************************
mixins
******************************/
@mixin flex($justify,$align,$direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    padding: 20px 40px;
    font-size: 1rem;
    background-color: $pink;
    border: none;
    color: $bela;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 40px;
    letter-spacing: 2px;
    &:hover{
        background-color: $violet;
        transition: $transition;
    }
}
/******************************
basic styles
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $font;
    color: $fontColor;
    font-family: $fontFamily;
    line-height: 1.5;
    
}
ul{
    list-style-type: none;
}
h2{
    font-size: 2.5rem;
    line-height: 1.1;
}
a{
    text-decoration: none;
    color: $bela;
    &:hover{
        color: $pink;
        transition: $transition;
    }
}
.logo{
    font-size: 2rem;
    font-weight: 600;
    span{
        color: $pink;
    }
}
.container{
    width: 80%;
    margin: auto;
}
/******************************
NAV
******************************/
nav{
    background-color: $navPlava;
    padding: 30px 60px;
    @include flex(space-between,center,row);
    & > a{
        @extend .logo;
    }
    ul{
        @include flex(space-evenly,center ,row );
        li{
            margin-left: 50px;
        }
    }
}
/******************************
mainHeader
******************************/
.mainHeader{
    background-color: $tamnoPlava;
    padding: 0 60px;
    color: $bela;
    @include flex(space-between,center ,row );
    div{
        flex: 0 0 47%;
        h1{
            font-size: 4rem;
            span{
                color: $pink;
            }
        }
        img{
            width: 100%;
            padding: 40px 0;
        }
        button{
            @include btn();
        }
    }
}
/******************************
unlimited
******************************/
.unlimited{
    padding: $padding;
    @include flex(space-between,center ,row );
    article{
        flex: 0 0 49%;
        button{
            @include btn();
        }
    }
}

/******************************
Footer
******************************/
footer{
    background-color: $navPlava;
    text-align: center;
    padding: $padding;
    p{
        color: $bela;
    }
    a{
        margin: 0 20px;
        font-size: 1.2rem;
    }
}